html,
body
  position: relative
  margin: 0
  padding: 0
  height: 100%
  font-family: 'Open Sans', sans-serif
  font-size: 10px
  background: $bg-color

body
  overflow-x: hidden

*,
*::before,
*::after
  box-sizing: border-box
  margin: 0
  padding: 0

ul
  list-style-type: none

h1,
h2,
h3,
h4
  font-family: 'Roboto Condensed', sans-serif
  text-transform: uppercase
  font-weight: 100

input,
label,
button
  margin: 0
  padding: 0
  border: 0
  color: inherit
  outline: 0

  &:focus
    border: 0
    outline: 0

input::-webkit-input-placeholder
  color: inherit
input::-moz-placeholder
  color: inherit
input:-moz-placeholder
  color: inherit
input:-ms-input-placeholder
  color: inherit

select
  border: 2px solid rgba(0,0,0, 0.35)
  outline: 0

.code
  font-size: 1.2vmin

p
  margin: $pad 0
