#controls-container
  +position(absolute, 0 0 null 0)
  z-index: 15

  height: $size*2
  line-height: $size*2
  padding-left: 64px + $pad
  padding-right: $pad*2
  display: flex
  justify-content: flex-end

  .control-btn
    +position(relative)
    height: 64px
    width: auto
    padding: 0 $pad*2
    background: $bg-color
    color: white
    margin-right: 2px
    border-bottom-left-radius: 9px
    border-bottom-right-radius: 9px

    input[type="text"]
      min-width: 225px
      padding: $pad $pad*2
      background: $bg-color-secondary
      border-radius: 9px
      color: black
      cursor: pointer

    input[type="color"]
      transform: translateY(-250px)
      transition: transform 1.2s
      margin-left: $pad*2

    .fa
      margin-top: $pad*2.5
      cursor: pointer

    &.active
      color: $action-color-secondary

      input[type="color"]
        transform: none
