#data-container
  +position(absolute, 0 0 0 0)
  z-index: 20
  display: flex
  flex-flow: column wrap
  align-items: center
  height: 100%
  padding: $pad*4
  background: $bg-color
  transition: transform 1.25s, opacity 1.25s

  .config-entry,
  button
    margin-bottom: $pad
    min-width: 425px
    max-width: 425px
    background: $bg-color-secondary
    border-radius: 9px
    box-shadow: 0 0 10px 0 rgba(0,0,0, 0.5)
    transition: background-color 1.25s

    h2,
    label
      display: block
      padding: $pad*2
      border-top-right-radius: 9px
      border-top-left-radius: 9px

    h2
      background: $action-color-secondary
      color: white
    p
      margin-top: $pad*2

    input
      padding: $pad*2
      border: 0
      background: darken($bg-color-secondary, 5%)
      width: 100%


  .valid
    background: $action-color-secondary
    color: white

  &.file-accepted
    transform: translateX(-100%)

  #dataAccept
    padding: $pad*3

  #createShip
    +position(absolute, 0 -64px null null)
    +size(64px)
    padding: $size*0.5
    cursor: pointer
    background: $bg-color
    color: white
    border-bottom-right-radius: 9px

  #cancelImport
    +position(absolute, 0 0 null null)
    +size(64px)
    padding: $size*0.5
    cursor: pointer
    background: $bg-color
    color: white
