
#parts-container
  +position(absolute, 0 0 0 0)
  z-index: 10
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: flex-start
  align-content: flex-start
  padding-top: $size*2
  flex-wrap: nowrap
  overflow-x: scroll

  .material-list
    +position(relative)
    display: flex
    flex-basis: 13%
    flex-grow: 6
    flex-shrink: 1
    flex-direction: column
    flex-wrap: wrap
    min-height: 100%
    background-color: rgba($bg-color-secondary, 0.25)
    margin-right: 2px
    min-height: 100%

    &[data-material="0"] h4
      background-color: rgba($col-iron, 0.85)
    &[data-material="1"] h4
      background-color: rgba($col-titanium, 0.85)
    &[data-material="2"] h4
      background-color: rgba($col-naonite, 0.85)
    &[data-material="3"] h4
      background-color: rgba($col-trinium, 0.85)
    &[data-material="4"] h4
      background-color: rgba($col-xanion, 0.85)
    &[data-material="5"] h4
      background-color: rgba($col-ogonite, 0.85)
    &[data-material="6"] h4
      background-color: rgba($col-avorion, 0.85)

    &.valid
      opacity: 1.0

    &.invalid
      opacity: 0.125

  .material-list-title
    text-align: center
    padding: $pad
    border-radius: 5px
    margin-bottom: 1px

  .material-list-count
    +position(absolute, 0 0 null null)

  .part-item
    margin: 1px 0 0 0
    background-color: $bg-color-secondary
    border-radius: 5px
    display: flex
    flex-wrap: wrap
    height: 36px
    line-height: 32px
    overflow: hidden
    border: 2px solid transparent
    transition: margin 1.2s, height 1.2s

    &.open
      height: auto
      margin: $pad*2 0

    &.needs-updating
      border-color: $action-color-secondary
    &.needs-converting
      border-color: $action-color

    .part-item-title,
    .part-item-count,
    .part-item-color,
    .part-item-convert
      flex-grow: 1
      display: flex
      flex-direction: column

      input
        width: 100%
        background: white
        color: black

        &[type="checkbox"]
          width: 32px

    .part-item-title
      padding-left: 4px
      flex-basis: 80%
      max-width: 80%
      overflow: hidden
      white-space: nowrap
      border-bottom: 1px solid rgba(0,0,0, 0.125)

    .part-item-count
      flex-basis: 20%
      background: rgba(0,0,0, 0.05)
      padding: 0 8px
      cursor: pointer
      white-space: nowrap
      max-width: 20%

    .part-item-color,
    .part-item-convert
      background: rgba(0,0,0, 0.05)
      border-bottom: 1px solid rgba(0,0,0, 0.075)
      padding: $pad*0.5
      opacity: .35

      &.active
        opacity: 1
      &.invalid
        background-color: $action-color
      &.valid
        background-color: $action-color-secondary

  .toggle
    display: block
    cursor: pointer

  option
    background: $bg-color
    color: white

    &[selected="selected"]
      color: white

      &.valid
        background: rgba($action-color-secondary, 0.85)
      &.invalid
        background: rgba($action-color, 0.85)
