html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  background: #01848F; }

body {
  overflow-x: hidden; }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

h1,
h2,
h3,
h4 {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 100; }

input,
label,
button {
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  outline: 0; }
  input:focus,
  label:focus,
  button:focus {
    border: 0;
    outline: 0; }

input::-webkit-input-placeholder {
  color: inherit; }

input::-moz-placeholder {
  color: inherit; }

input:-moz-placeholder {
  color: inherit; }

input:-ms-input-placeholder {
  color: inherit; }

select {
  border: 2px solid rgba(0, 0, 0, 0.35);
  outline: 0; }

.code {
  font-size: 1.2vmin; }

p {
  margin: 8px 0; }

#data-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 100%;
  padding: 32px;
  background: #01848F;
  transition: transform 1.25s, opacity 1.25s; }
  #data-container .config-entry,
  #data-container button {
    margin-bottom: 8px;
    min-width: 425px;
    max-width: 425px;
    background: #E6E7E8;
    border-radius: 9px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: background-color 1.25s; }
    #data-container .config-entry h2,
    #data-container .config-entry label,
    #data-container button h2,
    #data-container button label {
      display: block;
      padding: 16px;
      border-top-right-radius: 9px;
      border-top-left-radius: 9px; }
    #data-container .config-entry h2,
    #data-container button h2 {
      background: #F9A11F;
      color: white; }
    #data-container .config-entry p,
    #data-container button p {
      margin-top: 16px; }
    #data-container .config-entry input,
    #data-container button input {
      padding: 16px;
      border: 0;
      background: #d9dadc;
      width: 100%; }
  #data-container .valid {
    background: #F9A11F;
    color: white; }
  #data-container.file-accepted {
    transform: translateX(-100%); }
  #data-container #dataAccept {
    padding: 24px; }
  #data-container #createShip {
    position: absolute;
    top: 0;
    right: -64px;
    height: 64px;
    width: 64px;
    padding: 16px;
    cursor: pointer;
    background: #01848F;
    color: white;
    border-bottom-right-radius: 9px; }
  #data-container #cancelImport {
    position: absolute;
    top: 0;
    right: 0;
    height: 64px;
    width: 64px;
    padding: 16px;
    cursor: pointer;
    background: #01848F;
    color: white; }

#parts-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding-top: 64px;
  flex-wrap: nowrap;
  overflow-x: scroll; }
  #parts-container .material-list {
    position: relative;
    display: flex;
    flex-basis: 13%;
    flex-grow: 6;
    flex-shrink: 1;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100%;
    background-color: rgba(230, 231, 232, 0.25);
    margin-right: 2px;
    min-height: 100%; }
    #parts-container .material-list[data-material="0"] h4 {
      background-color: rgba(255, 179, 128, 0.85); }
    #parts-container .material-list[data-material="1"] h4 {
      background-color: rgba(255, 255, 255, 0.85); }
    #parts-container .material-list[data-material="2"] h4 {
      background-color: rgba(77, 255, 77, 0.85); }
    #parts-container .material-list[data-material="3"] h4 {
      background-color: rgba(77, 154, 255, 0.85); }
    #parts-container .material-list[data-material="4"] h4 {
      background-color: rgba(255, 255, 77, 0.85); }
    #parts-container .material-list[data-material="5"] h4 {
      background-color: rgba(255, 129, 51, 0.85); }
    #parts-container .material-list[data-material="6"] h4 {
      background-color: rgba(255, 38, 38, 0.85); }
    #parts-container .material-list.valid {
      opacity: 1; }
    #parts-container .material-list.invalid {
      opacity: 0.125; }
  #parts-container .material-list-title {
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 1px; }
  #parts-container .material-list-count {
    position: absolute;
    top: 0;
    right: 0; }
  #parts-container .part-item {
    margin: 1px 0 0 0;
    background-color: #E6E7E8;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    height: 36px;
    line-height: 32px;
    overflow: hidden;
    border: 2px solid transparent;
    transition: margin 1.2s, height 1.2s; }
    #parts-container .part-item.open {
      height: auto;
      margin: 16px 0; }
    #parts-container .part-item.needs-updating {
      border-color: #F9A11F; }
    #parts-container .part-item.needs-converting {
      border-color: #EF4581; }
    #parts-container .part-item .part-item-title,
    #parts-container .part-item .part-item-count,
    #parts-container .part-item .part-item-color,
    #parts-container .part-item .part-item-convert {
      flex-grow: 1;
      display: flex;
      flex-direction: column; }
      #parts-container .part-item .part-item-title input,
      #parts-container .part-item .part-item-count input,
      #parts-container .part-item .part-item-color input,
      #parts-container .part-item .part-item-convert input {
        width: 100%;
        background: white;
        color: black; }
        #parts-container .part-item .part-item-title input[type="checkbox"],
        #parts-container .part-item .part-item-count input[type="checkbox"],
        #parts-container .part-item .part-item-color input[type="checkbox"],
        #parts-container .part-item .part-item-convert input[type="checkbox"] {
          width: 32px; }
    #parts-container .part-item .part-item-title {
      padding-left: 4px;
      flex-basis: 80%;
      max-width: 80%;
      overflow: hidden;
      white-space: nowrap;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
    #parts-container .part-item .part-item-count {
      flex-basis: 20%;
      background: rgba(0, 0, 0, 0.05);
      padding: 0 8px;
      cursor: pointer;
      white-space: nowrap;
      max-width: 20%; }
    #parts-container .part-item .part-item-color,
    #parts-container .part-item .part-item-convert {
      background: rgba(0, 0, 0, 0.05);
      border-bottom: 1px solid rgba(0, 0, 0, 0.075);
      padding: 4px;
      opacity: 0.35; }
      #parts-container .part-item .part-item-color.active,
      #parts-container .part-item .part-item-convert.active {
        opacity: 1; }
      #parts-container .part-item .part-item-color.invalid,
      #parts-container .part-item .part-item-convert.invalid {
        background-color: #EF4581; }
      #parts-container .part-item .part-item-color.valid,
      #parts-container .part-item .part-item-convert.valid {
        background-color: #F9A11F; }
  #parts-container .toggle {
    display: block;
    cursor: pointer; }
  #parts-container option {
    background: #01848F;
    color: white; }
    #parts-container option[selected="selected"] {
      color: white; }
      #parts-container option[selected="selected"].valid {
        background: rgba(249, 161, 31, 0.85); }
      #parts-container option[selected="selected"].invalid {
        background: rgba(239, 69, 129, 0.85); }

#controls-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 15;
  height: 64px;
  line-height: 64px;
  padding-left: 72px;
  padding-right: 16px;
  display: flex;
  justify-content: flex-end; }
  #controls-container .control-btn {
    position: relative;
    height: 64px;
    width: auto;
    padding: 0 16px;
    background: #01848F;
    color: white;
    margin-right: 2px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px; }
    #controls-container .control-btn input[type="text"] {
      min-width: 225px;
      padding: 8px 16px;
      background: #E6E7E8;
      border-radius: 9px;
      color: black;
      cursor: pointer; }
    #controls-container .control-btn input[type="color"] {
      transform: translateY(-250px);
      transition: transform 1.2s;
      margin-left: 16px; }
    #controls-container .control-btn .fa {
      margin-top: 20px;
      cursor: pointer; }
    #controls-container .control-btn.active {
      color: #F9A11F; }
      #controls-container .control-btn.active input[type="color"] {
        transform: none; }

div#site {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

/*# sourceMappingURL=styles.css.map */
